@model Vidly.ViewModels.NewCustomerViewModel

@{
    ViewBag.Title = "New Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>New Customer</h2>
<br />
@using (Html.BeginForm("Create", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Birthdate)
        @Html.TextBoxFor(m => m.Customer.Birthdate, new { @class = "form-control" })
    </div>
    <div class="form-group form-check">
        @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter)
        @Html.LabelFor(m => m.Customer.IsSubscribedToNewsletter)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Type"), "", new { @class = "form-control" })
    </div>
}